        /* CONTENEDOR PRINCIPAL */
        .carousel-wrapper {
            max-width: 1200px;
            margin: 0 auto;
            background-color: #000;
            overflow: hidden;
        }

        .carousel-inner {
            aspect-ratio: 1920 / 800;
            width: 100%;
        }

        .carousel-item {
            height: 100%;
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        /* Flechas centradas */
        .carousel-control-prev,
        .carousel-control-next {
            top: 50%;
            transform: translateY(-50%);
        }

        /* OPCIONAL: quitar animación si aún ves movimiento raro */
        .carousel-item {
            transition: transform 0.5s ease-in-out;
        }